@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    main{
        .header-section{
               height: 919px;

                background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                
            .hero{
               width: 726px;
               >p{
                color: rgb(255, 255, 255);
                font-family: Work Sans;
                font-size: 25px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0%;
                text-align: center;
                opacity: 0.8;

               }
               >h1{
                color: rgb(255, 255, 255);
                font-family: Work Sans;
                font-size: 45px;
                font-weight: 700;
                line-height: 55px;
                letter-spacing: 0%;
                text-align: center;                
               }
               .content{
                >p{
                    color: rgb(255, 255, 255);
                    font-family: Work Sans;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0%;
                    text-align: center;
                    opacity: 0.7;
                    margin: 28px 0;

                }
               }
               .btn{
                     text-align: center;
                    button{
                         padding: 15px 25px;
                         border-radius: 8px;

                          background: rgb(82, 195, 3);
                           border: none;
                           color: rgb(255, 255, 255);
                           font-family: Work Sans;
                           font-size: 15px;
                           font-weight: 600;
                           line-height: 23px;
                           letter-spacing: 0%;
                           text-align: center;
                      
                    }
               }

            

            }
        }
        .card-box{
            display: flex;
            justify-content: center;
            align-items: center;
            .card{
              width: 1320px;
              margin: 100px 0;
              .content{
                display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              >p{
                color: rgb(16, 16, 16);
                font-family: Work Sans;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                opacity: 0.6;

              }
              >h1{
                color: rgb(16, 16, 16);
                font-family: Work Sans;
                font-size: 45px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: 0%;
                text-align: center;
                margin: 20px 0 30px;
              }
              }
              .card-section{
                display: flex;
                gap: 30px;
                .sub-card-section{
                    width: 424px;
                   .link-section{
                    text-align: center;
                     margin: 30px 0;  
                    >a{
                        padding: 14px 32px 14px 32px;
                        border-radius: 8px;
                          text-decoration: none;
                       background: rgba(82, 195, 3, 0.15);
                       color: rgb(16, 16, 16);
                       font-family: Work Sans;
                       font-size: 20px;
                       font-weight: 600;
                       line-height: 28px;
                       letter-spacing: 0%;
                       text-align:center;
                                           
                    }

                   }
                   h2{
                    color: rgb(16, 16, 16);
                    font-family: Work Sans;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 47px;
                    letter-spacing: 0%;
                    text-align: center;
                    margin: 20px 0;
                   }
                   >p{
                    color: rgb(16, 16, 16);
                    font-family: Work Sans;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: center;
                   }
                }
              }
              .btn{
                     text-align: center;
                     margin-top: 50px;
                    button{
                         padding: 15px 25px;
                         border-radius: 8px;

                          background: rgb(82, 195, 3);
                           border: none;
                           color: rgb(255, 255, 255);
                           font-family: Work Sans;
                           font-size: 15px;
                           font-weight: 600;
                           line-height: 23px;
                           letter-spacing: 0%;
                           text-align: center;
                      
                    }
               }

            }
        }
        .footer-section{
            .sub-footer-section{
                display: flex;
                justify-content: center;
                align-items: center;
                // gap: 50px;
                .content-section{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .sub-content-section{
                        width: 805px;
                        >h1{
                            color: rgb(16, 16, 16);
                            font-family: Work Sans;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 54px;
                            letter-spacing: 0%;
                            text-align: center;
                        }
                        >p{
                            color: rgb(16, 16, 16);
                            font-family: Work Sans;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 28px;
                            letter-spacing: 0%;
                            text-align: center;
                            opacity: 0.6;
                            margin: 24px 0;
                        }
                    }
                    .line-section{
                      width: 100%;
                     
                    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
                    border-top: 1px solid rgba(16, 16, 16, 0.2);
                    padding: 30px 0;
                    margin-top: 20px;
                    >p{
                        color: rgb(16, 16, 16);
                        font-family: Work Sans;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 38px;
                        letter-spacing: 0%;
                        text-align: center;
                        opacity: 0.7;

                    }
                    }
                      .so-media{
                        width: 20%;
                        margin-top: 30px;
                        >ul{
                            display: flex;
                            list-style-type: none;
                            justify-content: space-between;
                          >li{

                            >a{
                              i{
                                font-size: 30px;
                              }
                            
                            }
                              &:nth-child(1){
                                a{

                                    color:rgb(0, 106, 255);
                                }
                              }
                              &:nth-child(2){
                                a{

                                    color:rgb(0, 0, 0);
                                }
                              }
                              &:nth-child(3){
                                a{

                                    color:rgb(160, 16, 95);
                                }
                              }
                              &:nth-child(4){
                                a{

                                    color:rgb(225, 49, 56);
                                }
                              }
                          }
                            
                        }
                    }

                   
                }
             
            }
        }
    }
    footer{
      background-image:linear-gradient(rgb(255, 255, 255, 0.8)), url("../assets/social-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      .footer-section{
        
                      width: 830px;
                      height: 671px;
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       margin: 0 auto;
                       
        .sub-content-section{
                     
                        >h1{
                            color: rgb(16, 16, 16);
                            font-family: Work Sans;
                            font-size: 40px;
                            font-weight: 700;
                            line-height: 54px;
                            letter-spacing: 0%;
                            text-align: center;
                        }
                        >p{
                            color: rgb(16, 16, 16);
                            font-family: Work Sans;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 28px;
                            letter-spacing: 0%;
                            text-align: center;
                            opacity: 0.6;
                            margin: 24px 0;
                        }
                    }
                     .line-section{
                     width: 1300px;
                     
                    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
                    border-top: 1px solid rgba(16, 16, 16, 0.2);
                    padding: 30px 0;
                    margin-top: 20px;
                    >p{
                        color: rgb(16, 16, 16);
                        font-family: Work Sans;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 38px;
                        letter-spacing: 0%;
                        text-align: center;
                        opacity: 0.7;

                    }
                    }
                     .so-media{
                        width: 20%;
                        margin-top: 30px;
                        margin: 30px auto;
                        >ul{
                            display: flex;
                            list-style-type: none;
                            justify-content: space-between;
                          >li{

                            >a{
                              i{
                                font-size: 30px;
                              }
                            
                            }
                              &:nth-child(1){
                                a{

                                    color:rgb(0, 106, 255);
                                }
                              }
                              &:nth-child(2){
                                a{

                                    color:rgb(0, 0, 0);
                                }
                              }
                              &:nth-child(3){
                                a{

                                    color:rgb(160, 16, 95);
                                }
                              }
                              &:nth-child(4){
                                a{

                                    color:rgb(225, 49, 56);
                                }
                              }
                          }
                            
                        }
                    }

      }
       
    }
  
}